body{
	background-color:#e6f2ff;
}

.naranjaGym {
  color: #EB7533;
}

.fondoNaranjaGym{
  background-color: #EB7533 !important;
}

.cardAltura{
  height: 310px;
}

section {
  padding-top: 70px;
}

#titulo-modal {
  color: #5088b3;
}
